In [3]:
num = tuple(list(range(1,15)))

In [4]:
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [7]:
# Method	Description
# Python Tuple count()	returns occurrences of element in a tuple
# Python Tuple index()	returns smallest index of element in tuple
# Python any()	Checks if any Element of an Iterable is True
# Python all()	returns true when all elements in iterable is true
# Python ascii()	Returns String Containing Printable Representation
# Python bool()	Converts a Value to Boolean
# Python enumerate()	Returns an Enumerate Object
# Python filter()	constructs iterator from elements which are true
# Python iter()	returns iterator for an object
# Python len()	Returns Length of an Object
# Python max()	returns largest element
# Python min()	returns smallest element
# Python map()	Applies Function and Returns a List
# Python reversed()	returns reversed iterator of a sequence
# Python slice()	creates a slice object specified by range()
# Python sorted()	returns sorted list from a given iterable
# Python sum()	Add items of an Iterable
# Python tuple() Function	Creates a Tuple
# Python zip() Returns an Iterator of Tuples

In [8]:
# tuple count

In [9]:
num = (4,5,6,4,7,4,6,3)
num.count(4)

3

In [10]:
num = (4,5,6,4,7,4,6,3)
num.index(4)

0

In [19]:
# Return Value from any()
# any() returns:

# True if at least one element of an iterable is true
# False if all elements are false or if an iterable is empty

In [23]:
num1 = (4, 5, 0)
num2 = (True, 56)
num3 = (False, 0)
num4 = (True, False)

print(any(num1))
print(any(num2))
print(any(num3))
print(any(num4))

True
True
False
True

In [24]:
num1 = (4, 5, 0)
num2 = (True, 56)
num3 = (False, 0)
num4 = (True, False)

print(all(num1))
print(all(num2))
print(all(num3))
print(all(num4))

False
True
False
False

In [25]:
# bool()

In [27]:
num1 = (4, 5, 0)
bool(num1[0])

True

In [28]:
num1 = (4, 5, 0)
len(num1)

3

In [29]:
max(num1)

5

In [30]:
min(num1)

0

In [33]:
list(reversed(num1))

[0, 5, 4]

In [40]:
# zip()
tuple1 = ("name", "age", "course")
tuple2 = ("PENAN", 19, "B.Tech")

list1=list(tuple1)
list2=list(tuple2)

dict1 = zip(list1, list2)

print(dict(dict1))

{'name': 'PENAN', 'age': 19, 'course': 'B.Tech'}

In [47]:
# zip()
tuple1 = ("name", "age", "course")
tuple2 = ("PENAN", 19, "B.Tech")

dict1 = zip(tuple1, tuple2)

print(dict1)
print(dict(dict1))

<zip object at 0x000001C36D9FCBC8>
{'name': 'PENAN', 'age': 19, 'course': 'B.Tech'}

In [49]:
# tuple() function applies to iterable

In [51]:
# string into tuple 
string = "hello World"
t = tuple(string)
print(t)

('h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [53]:
# list into tuple
t = tuple([1,2,3,4,5])
t

(1, 2, 3, 4, 5)

In [55]:
# primitive datatype into tuple  doesn't work out because they are not iterable
t = tuple(56454)

TypeError: 'int' object is not iterable